<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">manh980838</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wikidb</property>
		<property name="hibernate.connection.CharSet">utf8</property>
		<property name="hibernate.connection.characterEncoding">utf8</property>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.requireSSL">false</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">false</property>

		<mapping class="hcmuaf.nlp.core.model.Question" />
		<mapping class="hcmuaf.nlp.core.model.Answer" />
		<mapping class="hcmuaf.nlp.core.model.QuestionVector" />
		<mapping class="hcmuaf.nlp.core.model.QuestionType" />
		<mapping class="hcmuaf.nlp.core.model.Keyword" />
		<mapping class="hcmuaf.nlp.core.model.WikiPageContent" />
		<mapping class="hcmuaf.nlp.core.model.QnAPairEntity" />
		<mapping class="hcmuaf.nlp.core.model.WikiPage" />
		<mapping class="hcmuaf.nlp.core.model.QuestionWordPair" />
		<mapping class="hcmuaf.nlp.core.model.WikiConceptWord" />
		<mapping class="hcmuaf.nlp.core.model.ConceptWordPair" />
	</session-factory>
</hibernate-configuration>